.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-window {
  margin: 60px 0;
}

.window-decorator {
  position: relative;
  height: 60px;
  background-color: #b6bab9;
}

.window-decorator .decorator-button::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.decorator-button.red-button::before {
  background-color: #ff512f;
}

.decorator-button.yellow-button::before {
  background-color: #ffff82;
  margin-left: 35px;
}

.decorator-button.green-button::before {
  background-color: #b2ffa9;
  margin-left: 70px;
}
